@CHARSET "ISO-8859-1";
 body {
		  
		  padding-top: 4.5rem;
		}
 .color-b{
	 background-color: #1071a3;
    color: #ffffff;
 }
 .link-color{
	 color: #1071a3;
 }
 #AsID{
 width:50%;}
 
 /****footer**/
